* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b2b54;
    font-family: "Ramaraja", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.header_logo {
    font-size: 32px;
    text-decoration: none;
    color: #bebebe;
}

.header_search {
    padding: 8px;
    border: 2px solid #020f25;
    border-radius: 16px;
    outline: none;
    background-color: #bebebe;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 12px;
    position: relative;
}

.movie_cover-inner {
    height: 360px;
    position: relative;
}

.movie_cover {
    max-width: 100%;
    height: 100%;
}

.movie_cover-dark {
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie_cover-dark:hover {
    background-color: rgba(56, 56, 56, 0.7);
    cursor: pointer;
}

.movie:hover {
    background-color: rgba(56, 56, 56, 0.7);
    cursor: pointer;
}

.movie_info {
    padding: 10px 0;
}

.movie_title {
    font-size: 20px;
    line-height: 143%;
    color: #ffffff;
}

.movie_category {
    padding: 10px 0 0 0;
    font-size: 16px;
    line-height: 143%;
    color: #ffd80e;
}

.movie_average {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.movie_average-green {
    border: 2px solid green;
}

.movie_average-orange {
    border: 2px solid orange;
}

.movie_average-red {
    border: 2px solid red;
}

.movie_id {
    display: none;
}

button {
    width: 36px;
    height: 36px;
    background-color: rgba(190, 190, 190, 0.1);
    border-radius: 5px;
    color: white;
    display: block;
}

button:hover {
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}

.page_number {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding:30px 0;
    background-color: rgba(50, 73, 110, 0.7);
    color: white;
}

.modal_movie_title {
    font-size: 20px;
    color: #ffffff;
}

.modal_movie_category {
    font-size: 16px;
    color: #ffd80e;
}

.modal_movie_cover {
    max-width: 80%;
    max-height: 80%;
    margin-left: 50px;
}

.modal_movie_info {

}

.modal_button_close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    color: rgba(5, 24, 47, 0.5);
    background: rgba(12, 33, 63, 0.7);
    font-size: 28px;
}

/* GARLAND ANIMATION */

#garland {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/christmas.png');
    height: 36px;
    width: 100%;
    overflow: hidden;
    z-index: 99;
}

#nums_1 {
    padding: 100px
}

.garland_1 {
    background-position: 0 0
}

.garland_2 {
    background-position: 0 -36px
}

.garland_3 {
    background-position: 0 -72px
}

.garland_4 {
    background-position: 0 -108px
}

/* Preloader */

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: rgb(32, 48, 70);
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #b4d8ff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 500ms infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}